################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Turbomix/v14
/EjercicioEntregar2/obj/Debug
/UnitTestProject1/obj/Debug
